{% extends "base.html" %}
{% block canonical %}
<link rel="canonical" href="https://viacomindia.com/subscription" />
{% endblock canonical %}
{% block styles %}
<style>
    
    
    .flip-card{
        min-height: 400px;
        height: 100%;
        width: 100%;
      backdrop-filter: blur(10px);

        border-radius: 10px;
    }
    .flip-card * {
        z-index: 1000;
    }
    
    
    .front {
      /* background-color: #fff; */
      /* backdrop-filter: blur(3px); */
      /* filter: blur(4px); */
      color: #fff;
      background-position: center;
      background-size: cover;
      z-index: 2;
      height: 100%;
      min-height: 400px;
      padding: 1.1rem;
      /* overflow: hidden; */
      border-radius: 10px;
      position: relative;
    
    }
    .front *{
        z-index: 10;
    }

    .image{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .image_after{
        /* content: ''; */
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,0.75);
        border-radius: 10px;
        /* z-index: 1; */
    }
    .image > img{
        object-fit: cover;
        filter: blur(3px);

    }
    
    /* .front::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,0.75);
        border-radius: 10px;
        z-index: -1;
    } */
    
    
    
    
    
    </style>
{% endblock styles %}
{% load static %} {% block body %}

<main class="container-fluid" style="margin-bottom: 7rem; margin-top: 110px;">
    <div class="row">

        {%for vi in vi_network %}

            <div class="col-12 mb-5">
                <div class="component">
                    <div class="heading text-center mb-5">
                        <h1 class="mb-4" style="font-weight: 900;font-size: 3.1rem;">{{vi.title | title}}</h1>
                        <p>{{vi.paragraph}}</p>
                    </div>
                    <div class="row">

                        {% for card in  vi.vi_network_card_set.all %}
                            <div class="col-lg-3 col-md-6 mb-4">
                                <div class="flip-card">
                                        <div class="image">
                                            <img src="{{card.image.url}}" height="100%" width="100%" alt="">
                                            <div class="image_after"></div>
                                        </div>
                                        <div class="front d-flex flex-column justify-content-between">
                                            <div class="title">
                                                <h2 class="text-center display-6 mt-3 fw-bold" style="font-size: 1.5rem;" >{{card.heading}}</h2>
                                                <p class="text-center">{{card.description}}</p>
                                            </div>
                                            <div class="cta text-center">
                                                <a href="{{card.url}}" class="btn btn-primary text-center">Explore more</a>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            {%endfor%}
                            

                    </div>
                </div>
            </div>

            <hr>

        {%endfor%}


    </div>

</main>


{% endblock body %}

