{% extends "base.html" %}
{% block canonical %}
<link rel="canonical" href="https://viacomindia.com/subscription" />
{% endblock canonical %}
{% block styles %}
<style>
    *{
      font-family: 'Montserrat', sans-serif;
    }
    
    .bg-blurry {
        background: rgba(33, 33, 36, 0.3);
        backdrop-filter: blur(250px);
        color: white;
        font-weight: bold;
    }
    .flip-card{
        height: 500px;
        width: 100%;
    }
    
    .inner{
        position: relative;
        width: 100%;
        height: 100%;
        
        transition: transform 0.7s ease-in-out;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 10px;
    }
    

    .front, .back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-radius: 10px;
    }
    
    .front {
      background-color: #fff;
      color: #fff;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 2;
    
    }
    .front *{
        z-index: 0;
    }
    .front::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        /* background-color: #00000070; */
        background-image: linear-gradient(to top , #00000090 ,#00000080 );
        border-radius: 10px;
        z-index: -1;
    }
    .back {
      background-color: #2980b9;
      color: white;
      transform: rotateY(180deg);
      overflow-y: scroll;
    }
    
    
    </style>
{% endblock styles %}
{% load static %} {% block body %}
<main class="container-fluid " style="margin-bottom: 7rem; margin-top: 110px;">
    <h1 class="fw-bolder mb-5 text-center" style="font-size: 3rem;">{{video_marketing_page.heading}}</h1>
    <div class="p-5 mb-5 bg-light rounded-3" style="background-color: #efede9 !important;">
        <p class="col-md-12 mx-auto fs-5 m-0">
            {{video_marketing_page.paragraph}}
      </p>
    </div>
    <div class="row mt-3">
        {%for page in video_marketing_obj%}
            <div class="col-sm-6 mb-4">
                <div class="flip-card" >
                    <div class="inner">
                        <div class="front p-4 d-flex flex-column " style="background-image: url('{{page.image.url}}'); overflow-y: auto;">
                            <div class="title">
                                <h2 class="text-center display-6 mt-3 fw-bold">{{page.title | title}}</h2>
                                <p class="text-center">{{page.short_description}}</p>
                            </div>
                            <div class="cta mt-2">
                                <p >{{page.description}}</p>
                            </div>
                        </div>
      
                    </div>
                </div>
            </div>
        {%endfor%}

      
  </div>
</main>

{% endblock body %}

